extends base.pug

block content
 div(class="text-h1")
    h1 Qui sommes-nous
    div(class= "description")
        h2 Depuis 1990
        div(class="text")
            p Depuis 1990, nous prenons soin des vélos de 
            |nos clients avec toujours autant 
            |d’enthousiasme. Cette expérience acquise tout 
            |au long de ces 30 années est mise au service de nos clients.

            p Achat d’un nouveau vélo, équipements, nous 
            |vous conseillons au mieux, que vous débutiez 
            |ou que vous ayez déjà pédalé des milliers de 
            |kilomètres.

        
        h2 John et Oliver
        div(class="text")
            p Anciens cyclistes professionnels, nous avons décidé de continuer de dédier nos vies au vélo en créant Be Biker Services. Nous souhaitons apporter notre expérience au service de l’excellence du cyclisme.

            |Notre priorité est votre satisfaction. Nous sommes convainvus qu’avoir un vrai lien avec nos clients est une des clefs de cette satisfaction. C’est pourquoi Be Biker Services est un atelier local.

        h2 L'atelier
         div(class="text")
            p Notre atelier bénéficie des meilleurs équipements de répération de vélos, mais aussi de tests des performances des équipements. C’est en combinant cet équipement de pointe et notre expérience que nous sommes capables de vous apporter les meilleurs services.

    img(src="image/Rectangle 10.png",alt="")
