extends base.pug 


block content 



 div.text-center
        h1 Nos services
        
        p Retrouvez ci-dessous l’ensemble de nos services. N’hésitez pas à nous contacter si vous avez besoin d’informations supplémentaires.
 div.left-text1 
      div.main-image
        img(src="images/map-pin.jpg", alt="") 
      div.title
        h2 A domicile 
       
      div.txt
        p Il n’est pas toujours aisé de pouvoir apporter soi-même son
        |vélo dans un atelier pour le faire réparer. C’est pourquoi
        |nous vous proposons un service à domicile. Nous fixons un
        |rendez-vous afin de venir récupérer votre vélo chez vous, et
        |vous le ramener lorsque celui-ci sera prêt.

 
 div.left-center
      div.main-image
        img(src="images/user-check.png", alt="")
      div.title
        h2 Support client
      
      div.txt2
        P Notre équipe est à votre service. Par téléphone du lundi au samedi (8h / 20h) au 01.23.45.67.89 ou di
        ement à l’atelier du lundi au samedi entre 9h et 18h. N’hésitez pas à téléphoner ou passer nous voir.
 div.left-text2
      div.main-image
        img(src="images/watch.png", alt="")  
      div.title
        h2 Service express
      div.txt3
        p Une sortie prévue ce week-end, mais vous aviez oublié que votre vélo a besoin d’une petite réparation ? Pas de problème, nous pouvons intervenir afin que votre vélo soit en état de rouler dans les 24h.
 div.left-text3  
      div.main-image
        img(src="images/Vector.png", alt="")  
      div.title
        h2 L’atelier
      div.txt4
        p Notre atelier est à la pointe. Nous pouvons vous faire essayer divers vélos et équipements et vous apporter tous les conseils nécessaires à votre pratique du cyclisme. Peu importe votre niveau ou vos envies, nos experts auront les réponses à toutes vos questions.



